.gameBoard {
  margin: 0 auto;
  width: 550px;

}

.titleimg{
  width: 20%;
  height: 20%;
  margin: 15px 10px 10px 560px;
  align: center;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.dice{
  margin: 0;
  text-align: center;
  font-size: 40px;
  margin: 15px
}

.box {
  float: left;
  border: 1px solid black;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
}

body {
  background-color: #b0e4f4;
}

.player-1 {
  float: left;
  border: 1px solid white;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  background-color: green;
}

.player-2 {
  float: left;
  border: 1px solid white;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  background-color: blue;
}

.player-1_2 {
  float: left;
  border: 1px solid white;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  background-color: green;
}
