.scoreboard {
  float: right;
  margin-bottom: 500px;
  margin-right: 500px;

}

.gameBoard {
  margin: 0 auto;
  width: 750px;
  align: center;
}

.titleimg{
  border-radius: 20px;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  align: center;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.dice{
  margin: 0;
  text-align: center;
  font-size: 40px;
  margin: 15px
}

.box {
  float: left;
  border: 20px solid black;
  padding: 10px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 20px;
}

body {
  background-color: #b0e4f4;
}

.player-1 {
  float: left;
  border: 20px solid black;
  padding: 10px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 20px;
  background: gold;

.player-2 {
  float: left;
  border: 1px solid white;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  background-color: blue;
}

.player-1_2 {
  float: left;
  border: 1px solid white;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  background-color: green;
}
